body {
  overflow-y: auto;
  overflow-x: hidden;
}
#MyProfileHome {
  width: 33vw;
  position: relative;
  top: 3vw;
}
#homeTag {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #656565;
  font-size: 1.6vw;
}

#homePage {
  position: relative;
  margin-left: 19vw;
}

#card {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2vw;
  border-radius: 4px;
  background-color: #ffd98d;
  color: #3d4465;
  height: 4vw;
  width: 77vw;
  padding-left: 2vw;
  padding-top: 0.1vw;
}
#cardText {
  position: relative;
  top: 1vw;
}
#profile {
  width: 33vw;
}
#profilePageButton {
  position: relative;
  left: 25vw;
  top: -1vw;
}
#profileimg {
  position: relative;
  left: 3vw;
  top: 1vw;
  width: 125px;
  height: 125px;
  opacity: 1;
  border-radius: 50%;
  background: url(../images/Geralt.jpg) no-repeat center;
}
#InfoProfile {
  position: relative;
  top: -7vw;
  left: 14vw;
  width: 17vw;
}
#name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  top: 1vw;
  right: 1vw;
}
#infon {
  color: #a1a8c3;
  opacity: 1;
  font-size: 1vw;
  position: relative;
  left: 3vw;
}
#nr {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  top: -1vw;
  left: 3vw;
  position: relative;
}
#industris {
  position: relative;
  top: -6vw;
  height: 9vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.value1 {
  position: relative;
  left: 1vw;
}
.value2 {
  position: relative;
  left: 15vw;
  top: -6.3vw;
}
.info {
  position: relative;
  left: 1vw;
  color: #a1a8c3;
  opacity: 1;
  font-size: 1vw;
}

#infoCard {
  position: relative;
  top: -5vw;
  height: 25vw;
}
#myProfile {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  left: 1vw;
  top: 1.5vw;
  letter-spacing: 0px;
  color: #3c4368;
  opacity: 1;
}

.info-profile {
  position: relative;
  left: 1vw;
  color: #3d4465;
  opacity: 1;
  margin: 0;
  letter-spacing: 0px;
}

.infoAboutPerson {
  position: relative;
  left: 15vw;
  top: -2vw;
}

/* --My portfolio card */

#MyPortfolioHome {
  position: relative;
  top: -58vw;
  left: 35vw;
  width: 44vw;
}

#portfolioButton {
  position: relative;
  top: -1vw;
  left: 35vw;
}

#portfolioLine {
  width: 43vw;
}
#container {
  position: relative;
  left: 1.5vw;
  width: 40vw;
  opacity: 1;
  margin-bottom: 5vw;
}
#numberHolder {
  position: relative;
  width: 30vw;
  height: 3vw;
  left: 1.5vw;
  margin-bottom: 1vw;
}
#number {
  position: relative;
  font-size: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  top: -1.5vw;
}
#updated {
  position: relative;
  font-size: 1vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  top: -5vw;
  left: 15vw;
}
#box1 {
  height: 6vw;
}
#colorM {
  border: rgb(3, 155, 3) solid;
  background-color: rgb(3, 155, 3);
  position: relative;
  width: 1vw;
  height: 1vw;
  top: 2vw;
  left: 1vw;
}
.företag1 {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5vw;
  left: 5vw;
  top: -1vw;
}
.info1 {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1vw;
  color: #a1a8c3;
  left: 5vw;
  top: -2vw;
}
.sek1 {
  position: relative;
  top: -6vw;
  left: 35vw;
}
.amount {
  position: relative;
  top: -8.6vw;
  left: 39vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1vw;
  color: #a1a8c3;
}
#colorMode {
  border: rgb(12, 160, 160) solid;
  background-color: rgb(12, 160, 160);
  position: relative;
  width: 1vw;
  height: 1vw;
  top: 2vw;
  left: 1vw;
}
#colorLeksaker {
  border: rgb(253, 187, 65) solid;
  background-color: rgb(253, 187, 65);
  position: relative;
  width: 1vw;
  height: 1vw;
  top: 2vw;
  left: 1vw;
}
#box2 {
  height: 6vw;
}
#box3 {
  height: 29vw;
}
