.LoginCard {
  position: relative;
  top: 6vw;
  left: 25%;
  width: 50%;
  height: 40%;
}
#icone {
  position: relative;
  left: 11vw;
}
#user {
  position: relative;
  top: 50%;
  left: 35%;
}
#passwordLogin {
  position: relative;
  top: 0.5vw;
  left: 35%;
}
#textInfo {
  position: relative;
  text-align: center;
  top: 4vw;
}
#loginButton {
  position: relative;
  left: 42%;
  bottom: 2vw;
}
#createAccount {
  color: #fdcc6b;
}
