.LoginCard {
  position: relative;
  top: 10vw;
  left: 25vw;
  width: 50vw;
  height: 40vw;
}
#user {
  position: relative;
  top: 1vw;
  left: 18vw;
}
#passwordLogin {
  position: relative;
  top: 0.5vw;
  left: 18vw;
}
#textInfo {
  position: relative;
  text-align: center;
  top: 4vw;
}
#loginButton {
  position: relative;
  left: 20vw;
  bottom: 2vw;
}
a {
  color: #fdcc6b;
}
