#profileimg {
  position: relative;
  left: 3vw;
  top: 1vw;
  width: 125px;
  height: 125px;
  opacity: 1;
  border-radius: 50%;
  background: url(../images/Geralt.jpg) no-repeat center;
}
#editButton {
  background: #fdcc6b url(../images/edit-icon.svg) no-repeat 0.5vw center;
}
.editPen {
  border-radius: 50%;
  background-color: #fdcc6b;
  width: 2vw;
  height: 2vw;
  border: none;
  opacity: 1;
}
#file {
  position: relative;
  left: 10.5vw;
  top: -10vw;
}
#fileLabel {
  position: relative;
  left: 10.5vw;
  top: -9vw;
}
.editPen:hover {
  transform: scale(1.5);
}
#name {
  position: relative;
  left: 3vw;
}
#lastname {
  position: relative;
  left: 20vw;
  top: -6.5vw;
  width: 16vw;
  margin: 0;
}

#social-security-number {
  position: relative;
  left: 3vw;
  top: -4vw;
}

#adress {
  position: relative;
  left: 3vw;
  top: -2vw;
}

#city {
  position: relative;
  left: 3vw;
}

#zip-code {
  position: relative;
  left: 20vw;
  top: -6.5vw;
  width: 16vw;
  margin: 0;
}

#phone-number {
  position: relative;
  left: 3vw;
  top: -4vw;
}

#email {
  position: relative;
  left: 3vw;
  top: -3vw;
}
