#bild {
  width: 125px;
  height: 125px;
  opacity: 1;
}

#name {
  position: relative;
  left: 3vw;
}

#lastname {
  position: relative;
  left: 20vw;
  top: -6.5vw;
}

#social-security-number {
  position: relative;
  left: 3vw;
  top: -4vw;
}

#adress {
  position: relative;
  left: 3vw;
  top: -2vw;
}

#city {
  position: relative;
  left: 3vw;
}

#zip-code {
  position: relative;
  left: 20vw;
  top: -6.5vw;
}

#phone-number {
  position: relative;
  left: 3vw;
  top: -4vw;
}

#email {
  position: relative;
  left: 3vw;
  top: -3vw;
}
