body {
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  overflow-y: auto;
  overflow-x: hidden;
}
#profileimg {
  position: relative;
  left: 3vw;
  top: 1vw;
  width: 125px;
  height: 125px;
  opacity: 1;
  border-radius: 50%;
  background: url(../images/flower.jpg) no-repeat center;
}
#editButton {
  background: #fdcc6b url(../images/edit-icon.svg) no-repeat 0.4vw center;
}
.editPen {
  border-radius: 50%;
  background-color: #fdcc6b;
  width: 2vw;
  height: 2vw;
  border: none;
  opacity: 1;
}
#file {
  position: relative;
  left: 10.5vw;
  top: -10vw;
}
#fileLabel {
  position: relative;
  left: 10.5vw;
  top: -9vw;
}
.editPen:hover {
  transform: scale(1.5);
}
