.registerForm {
  color: #a1a8c3;
}
h1 {
  text-align: center;
}
.RegisterCard {
  position: relative;
  width: 60vw;
  left: 19vw;
}
hr {
  width: 60vw;
  height: 0px;
  border: 1px solid #edeff3;
  opacity: 1;
}
#name {
  position: relative;
  left: 3vw;
}
#lastname {
  position: relative;
  left: 25vw;
  top: -4.5vw;
}
#social-security-number {
  position: relative;
  left: 3vw;
  top: -3vw;
}
#adress {
  position: relative;
  left: 3vw;
  top: -2vw;
}
#city {
  position: relative;
  left: 3vw;
}
#zip-code {
  position: relative;
  left: 25vw;
  top: -5.3vw;
}
#phone-number {
  position: relative;
  left: 3vw;
  top: -4vw;
}
#email {
  position: relative;
  left: 3vw;
  top: -3vw;
}
#password {
  position: relative;
  left: 3vw;
  top: -1vw;
}
#confirm-password {
  position: relative;
  left: 25vw;
  top: -6.3vw;
}
#registerButton {
  position: relative;
  left: 27vw;
  bottom: 2vw;
}
#registerLogin {
  color: #fdcc6b;
}
#textInfoRegistrera {
  position: relative;
  top: -2vw;
  left: 22vw;
}
