.registerForm {
  color: #a1a8c3;
}
.RegisterCard {
  top: 73px;
  left: 244px;
  width: 1012px;
  height: 849px;
}
hr {
  top: 131px;
  left: 244px;
  width: 1012px;
  height: 0px;
  border: 1px solid #edeff3;
  opacity: 1;
}
