.page {
  position: relative;
  margin-left: 19vw;
}

.settingsTag {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #656565;
  font-size: 1.6vw;
}

.changePasswordCard {
  position: relative;
  top: 0.5vw;
  width: 77vw;
  height: 35vw;
}

.lines {
  border: 0.07vw solid #edeff3;
  width: 77vw;
}

#saveButtonChangePassword {
  position: relative;
  top: -0.3vw;
  left: 68.5vw;
  width: 0vw;
}

#saveButtonMyProfile {
  position: relative;
  top: -0.3vw;
  left: 68.5vw;
  width: 0vw;
}

#saveButtonPreferences {
  position: relative;
  top: -0.3vw;
  left: 68.5vw;
  width: 0vw;
}

#changePasswordForm {
  position: relative;
  left: 3vw;
}

.buttons {
  position: relative;
  left: 1vw;
  top: -0.5vw;
}
